# Question 1. In the below elements which of them are values or an expression? 
eg:- values can be
integer or string and expressions will be mathematical operators.
######*
######'hello'
######-87.8
######-
######/
######+
######6

Elements | Value,Expression
- | -
* | Expression
'hello' | Value_string
-87.8 | value_float
- | Expression
/ | Expression
+ | Expression
6 | Value_integer

# Question 2. What is the difference between string and variable?
######solution
**String** :- In computer programming, a string is a sequence of characters. For example, "hello" is a string containing a sequence of characters like "h","e","l","l","o" we can access the string by their index values which contains (0 to n-1) and represented by '' or ""
Examples...
######name = "SHOBHIT" OR name = 'SHOBHIT'
######print(name[0:])


---


**variables** :- Variables are just like containers in which we store string,int,float etc.
Example...
######name='SHOBHIT RAJ'
######num=10
######num2=22.76

#Question 3. Describe three different data types.
######Datatype in python :-


*   **Numeric data types: (int, float, complex)** = Python numeric data type is used to hold numeric values like;
######int - holds signed integers of non-limited length. Example...a=43 , num=63 etc.
######float- holds floating precision numbers and itâ€™s accurate up to 15 decimal places. Example...a = 46.89 , num=58858.868 etc
######complex- holds complex numbers in the form of (x+iy) also called iota.

In [7]:
num=100
print(num,type(num))
num2=10.7484
print(num2,type(num2))
num3=5+89j
print(num3,type(num3))

100 <class 'int'>
10.7484 <class 'float'>
(5+89j) <class 'complex'>

*   **String data types: str**
= The string is a sequence of characters. Python supports Unicode characters. Generally, strings are represented by either single or double-quotes.

In [19]:
name=("SHOBHIT RAJ")
print(name[0:] ,type(name))

SHOBHIT RAJ <class 'str'>

*   **Boolean type: bool** = For Boolean it give us only True,False only

In [12]:
a=50
a < 40
a >40

True

#Question 4. What is an expression made up of? What do all expressions do?
An expression is a combination of operators and operands that is interpreted to produce some other value. An expression is evaluated as per the precedence of its operators.
their are two tupe of expression....


*   constant expression = These are the expressions that have constant values only.
######Example...
int a=34 print(a+38)


---


*   Arthmetic expression 
######Example...
#####x=739 
#####y=56
#####x+y=795
#####x*y=41384
#####x/y=13.1964285714
#####x//y=13
etc...

#Question 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?


*   Expression = An expression is a combination of values, variables, and operators. If you type an expression on the command line, the interpreter evaluates it and displays the result like...
print(12*3)


---


*   Statements = A statement in Python is used for creating variables or for displaying values. In python we have two statements **print** and **assignment**.
When we type a statement on the command line, Python executes it and displays the result like...
######x=4
######print(x)
######x=y # Here i am assigning the value of x into y


---
######Or in layman word 
A statement in Python is used for creating variables or for displaying values. The expression in Python produces some value or result after being interpreted by the Python interpreter. A statement in Python is not evaluated for some results. An expression in Python is evaluated for some results.

#Question 6. After running the following code, what does the variable bacon contain?
######bacon = 22
######bacon + 1

In [21]:
bacon = 22
bacon + 1

23

#Question 7. What should the values of the following two terms be?
######'spam' + 'spamspam'
'spam' * 3
#####Both have same output

In [23]:
'spam' + 'spamspam'

'spamspamspam'

In [24]:
'spam' * 3

'spamspamspam'

#Question 8. Why is eggs a valid variable name while 100 is invalid?
egg can be easily assign any value because it is not a litral it can be treated like Container.


---
100=we cant use number as an variable because we are trying to assign value to a literal but it is not possible

In [27]:
egg=55
print(egg)

55

In [28]:
100=3

SyntaxError: ignored

#Question 9. What three functions can be used to get the integer, floating-point number, or string version of a value?
######Integer=int()
######Float=float()
######String=str()

In [32]:
integer=int(input("Enter your Integer :- "))
fpr=float(input("Enter your floating-point number :- "))
strin=str(input("Enter your string :- :- "))
print(integer, fpr, strin)

Enter your Integer :- 36
Enter your floating-point number :- 36.8383
Enter your string :- :- SHOBHIT RAJ
36 36.8383 SHOBHIT RAJ

#Question 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.' = In concatination we cant concatinate a string with integer value because Python doesn't know how to convert numeric types to strings implicitly. so for concatination we first make integer to string using single '' or double "".
#####Below correct way mention...

In [37]:
'I have eaten ' + 99 + ' burritos.'# we have to make 99 to "99" or '99'

TypeError: ignored

In [34]:
'I have eaten ' + "99" + ' burritos.'

'I have eaten 99 burritos.'

In [35]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'