<a href="https://colab.research.google.com/github/shobhitexp/Python_Assingments/blob/Python_Programing/Python_Programing_Assignment_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment_23

Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
######Examples
######is_symmetrical(7227) ➞ True
######is_symmetrical(12567) ➞ False
######is_symmetrical(44444444) ➞ True
######is_symmetrical(9939) ➞ False
######is_symmetrical(1112111) ➞ True

In [6]:
def rev_check(val):
  rval=val[::-1]
  if val == rval:
    return True

  return False

val=str(input("Enter your value :- "))
rev_check(val)

Enter your value :- 12567

False

-------------
Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
######Examples
######multiply_nums(&quot;2, 3&quot;) ➞ 6
######multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
######multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
######multiply_nums(&quot;10, -2&quot;) ➞ -20

In [22]:
def pro(ls):
  res = 1
  for i in range(0 , len(ls)):
    res*=  ls[i]
  return res
ls=list(map(int,input("Enter your number :- ").strip().split(',')))
pro(ls)

Enter your number :- 54, 75, 453, 0

0

------------
Question 3
Create a function that squares every digit of a number.
######Examples
######square_digits(9119) ➞ 811181
######square_digits(2483) ➞ 416649
######square_digits(3212) ➞ 9414
######Notes
The function receives an integer and must return an integer.

In [21]:
def square(n):
    if n < 0:
        raise ValueError("Input must be a non-negative integer")
    if n == 0:
        return 0
    res = 0
    position = 0
    while n > 0:
        digit = n % 10
        squared_digit = digit ** 2
        res += squared_digit * (10 ** position)
        position += len(str(squared_digit))
        n //= 10
    return res

num=int(input("Enter your value :- "))
square(num)

Enter your value :- 9119

811181

--------------
Question 4
Create a function that sorts a list and removes all duplicate items from it.
######Examples
######setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
######setify([4, 4, 4, 4]) ➞ [4]
######setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
######setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [26]:
def sort(num):
  num=list(set(num))
  num.sort()
  return num
ls=list(map(int,input("Enter your number :- ").strip().split(',')))
sort(ls)

Enter your number :- 1,3,3,5,5

[1, 3, 5]

------------
Question 5
Create a function that returns the mean of all digits.
######Examples
######mean(42) ➞ 3
######mean(12345) ➞ 3
######mean(666) ➞ 6
######Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
###### The mean will always be an integer.

In [31]:
def mean(val):
  res=0
  for i in range(0,len(val)):
    res+=val[i]
  return int(res/len(val))

val=int(input("Enter your value :- "))
re=list(map(int, str(val)))
mean(re)

Enter your value :- 666

6

------------
------------